# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.prettierrc.js
desktop.ini
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
chief-charity-website.code-workspace
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.favorites.json
style_guideline.css
style OG.css
favorites.json
about.html
blog.html
causes.html
contact.html
donate.html
event.html
service.html
team.html
volunteer.html
the-chief-fund.bdesign
*.bdesign
*.TODO

# Local Netlify folder
.netlify
